.sliderContainer {
  width: 100%;
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.iconsContainer {
  position: relative;
  height: 24px;
}

.iconMarkerWrapper {
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  cursor: pointer;
  z-index: 3;
}

.iconMarker {
  width: 24px;
  height: 24px;
  color: #999;
}

.hourMarkersContainer {
  position: relative;
  width: 100%;
  height: 20px;
}

.hourMarker {
  position: absolute;
  width: 1px;
  height: 8px;
  background: #ccc;
  transform: translateX(-50%);
}

.hourMarker span {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  color: #999;
}

.trackContainer {
  position: relative;
  height: 20px;
  width: 100%;
}

.track {
  position: absolute;
  height: 4px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
}

.slider {
  position: absolute;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--thumb-color, #FFA500);
  border: 2px solid var(--thumb-color, #FFA500);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 2;
  pointer-events: auto;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--thumb-color, #FFA500);
  border: 2px solid var(--thumb-color, #FFA500);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 2;
  pointer-events: auto;
}

.timeLabels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #555;
}

.bottomControls {
    display: flex;
    justify-content: space-between;
}

.buttonGroup {
  display: flex;
  gap: 5px;
}

.actionButton {
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #333;

  &:hover {
    background: #e0e0e0;
  }
}
